---
import Container from '@/components/Container.astro'
import Layout from '@/layouts/Layout.astro'
import GithubCalendar from '@/components/ui/GithubCalendar'
import SpotifyPresence from '@/components/ui/SpotifyPresence'
import DiscordPresence from '@/components/ui/DiscordPresence'
import QuoteBox from '@/components/QuoteBox.astro'
import { getCollection } from 'astro:content';

const projectEntries = await getCollection('projects');

const blogEntries = await getCollection('blog');
blogEntries.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Home">
  <Container class="py-16 px-4 w-full max-w-screen-xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-start">
      <div class="space-y-6">
        <div class="border border-emerald-500  p-4 bg-black w-full">
          <DiscordPresence client:load />
        </div>
        <div class="border border-emerald-500  p-4 bg-black w-full flex justify-center">
          <QuoteBox/>
        </div>
      </div>

      <div class="text-center md:text-justify">
        <h1 id="changingText" class="text-4xl text-emerald-500 font-bold mb-4">Hello There</h1>
        <p class="text-lg leading-relaxed mb-4">
          I am a student pursuing my bachelor's degree in computer science.
          I love developing and exploring the internet in general, and this website is the testament of my love for it.
        </p>
        <p class="text-lg leading-relaxed mb-4">
          I am also a CTF player for bi0sblr, and currently in the domain of web exploitation. I also love making and rendering models and animations on Blender.
        </p>
        <p class="text-lg leading-relaxed">
          Amidst all this, I am also a trained Hindustani Classical vocalist, a guitarist, and a harmonium player, and I enjoy playing sports like basketball in my free time.
        </p>
      </div>

      <div class="space-y-6">
        <div class="border border-emerald-500  p-3 bg-black w-full">
          <SpotifyPresence username="rishblol" client:load />
        </div>
        <div class="border border-emerald-500  p-4 bg-black w-full">
          <h2 class="text-2xl font-bold text-emerald-500 mb-2">/projects</h2>
          <ul class="space-y-4">
            {projectEntries.slice(0,2).map(project => (
              <li class="border border-emerald-500  p-4">
                <a href={project.data.link} class="text-lg font-semibold text-white hover:underline" target="_blank">
                  {project.data.name}
                </a>
                <p class="text-gray-300">{project.data.description}</p>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-start">
      <div class="md:col-span-2 mt-6 border border-emerald-500  p-4">
      <GithubCalendar username="rishblol" client:load/>
      </div>
      <div class="md:col-span-1 mt-6 border border-emerald-500  p-4">
        <h2 class="text-2xl font-bold text-emerald-500 mb-2">/blog</h2>
          <ul class="space-y-4">
            {blogEntries.slice(0, 2).map(post => (
            <li class="border border-emerald-500  p-2">
              <p class="text-lg font-semibold text-white">
                {post.data.title}
              </p>
              <p class="text-gray-300">{post.data.description}</p>
            </li>
          ))}
          </ul>
      </div>
    </div>
  </Container>
</Layout>